body {
  background: linear-gradient(to right, #000000, #1408b6);
  color: white;
  font-family: "Montserrat";
}

.navbar-header,
nav {
  background: linear-gradient(to right, #000000, #1408b6);
  color: white;
}

.navbar-header h1,
.btn.btn-lg {
  font-family: "Montserrat";
  /* Cambia la fuente a Montserrat */
  font-weight: bold;
}

.navbar-nav .nav-item.nav-link {
  font-family: "Montserrat";
  color: white;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease-in-out;
  margin-left: 10px;
}

.navbar-nav .nav-item.nav-link.active {
  color: yellow;
}

.navbar-nav .nav-item.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: yellow;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbar-nav .nav-item.nav-link:not(.active)::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: yellow;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbar-nav .nav-item.nav-link:not(.active):hover::after {
  width: 100%;
  left: 0;
}

.navbar-nav .nav-item.nav-link:not(.active):hover {
  color: yellow;
}

.navbar-nav .btn.btn-lg {
  /* Estilos del botón "Registrarse" */
  text-align: center;
  font-size: 15px;
  padding: 5px 45px;
  border-radius: 20px;
  background-color: #eefb03;
  color: black;
  margin-top: 3px;
  transition: box-shadow 0.3s ease-in-out;
}

.navbar-nav .btn.btn-lg:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 8px 16px white;
}

.tuerca {
  /* Estilos de la imagen de la tuerca */
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.tuerca img {
  width: 500px;
  height: 500px;
}

/* Estilos del formulario de inicio de sesión */

.col-md-6 {
  margin-top: 30px;
  color: #eefb03;
  align-items: center;
}

.display-4 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}


.a-Registro {
  color: #eefb03;
  justify-content: center;
  font-weight: bold;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  font-size: 0.9rem;
}

.login-section form .form-group {
  max-width: 300px;
}


.login-section form .btn-primary {
  background-color: #eefb03;
  color: black;
  border-radius: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

.login-section form .btn-primary:hover {
  background-color: #fff;
  color: black;
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.3);
}

/* Estilos para la sección de juegos */
.games-section {
  background-color: #fff; /* Fondo blanco */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Sombra */
  margin-top: 20px; /* Espacio superior */
  max-width: 500px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar horizontalmente */
}

/* Estilos para las tarjetas de juego */
.games-section .card {
  background-color: transparent; /* Fondo transparente para los juegos */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: none; /* Sin sombra */
  margin-bottom: 20px; /* Espacio inferior entre juegos */
  border: 2px solid #000; /* Borde negro alrededor de cada juego */
  color: #000; /* Color del texto */
  width: 400px; /* Ancho completo */
  max-width: 800px; /* Ancho máximo */
  margin-left: 0; /* Alinear a la izquierda */
  margin-right: auto; /* Alinear a la derecha */
}

.games-section .card:hover {
  transform: translateY(-5px);
}

.games-section .row {
  display: flex; /* Utilizar flexbox */
  justify-content: left; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

/* Estilos para el buscador */
.search-section {
  margin-top: 30px;
  text-align: center;
}

.search-section input {
  width: 503px;
  max-width: 800px;
  margin-left: 23px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.search-section input:focus {
  outline: none;
  border-color: #1408b6;
}